<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UILib.UILibSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UILib.UILib" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UILib.UILibSettings>
            <setting name="userId" serializeAs="String">
                <value />
            </setting>
            <setting name="userSessionToken" serializeAs="String">
                <value />
            </setting>
        </UILib.UILibSettings>
        <UILib.UILib>
            <setting name="selectedProvider" serializeAs="String">
                <value />
            </setting>
        </UILib.UILib>
    </userSettings>
</configuration>